---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}


<hr>
<center>
<div class="font-size-h3 row t60"> <strong>To checkout the data challenges specific to a region click on the map !</strong>  </div>
</center>

<br>

<style>
body {
    margin: 0;
    padding: 0;
  }
  #image_map {
    position: relative;
    display: inline-block; /* Make the container inline-block to fit its content */
  }

  .highlight-area {
    position: absolute;
    border: 2px solid blue; /* Set the border style and color */
    background-color: rgba(28, 69, 135, 0.2); /* Set the background color with transparency */
    pointer-events: none; /* Make the rectangles non-interactive */
  }
</style>

{% assign width_img = 500 | plus: 0 %}
{% assign height_img = 200 | plus: 0 %}


<center>
  <div id="image_map">
    <map name="map_example">
      {% for page in site.pages %}
        {% for dc in site.data.datachallenges_yml %}
          {% if dc.region contains page.region %}
            <!-- Splitting the coordinates and extracting individual values -->

            {% assign coords1 = page.lon_min | plus: 180 %}
            {% assign coords2 = page.lat_min | times: -1 %}
            {% assign coords2 = coords2 | plus: 90 %}
            {% assign coords3 = page.lat_max | times: -1 %}
            {% assign coords3 = coords3 | plus: 90 %}
            {% assign coords4 = page.lon_max | plus: 180 %}
            
            {% assign x1 = coords1 | times: 0.00278 %}
            {% assign y1 = coords3 | times: 0.00278 %}
            {% assign x2 = coords4 | times: 0.00278 %}
            {% assign y2 = coords2 | times: 0.00278 %}

            {% assign x1 = x1 | times: width_img %}
            {% assign y1 = y1 | times: width_img %}
            {% assign x2 = x2 | times: width_img %}
            {% assign y2 = y2 | times: width_img %}

            <area href="{{ page.url }}" target="_blank" alt="{{ page.title }}" shape=rect coords="{{ x1 }},{{ y1 }},{{ x2 }},{{ y2 }}">
          {% endif %}
        {% endfor %}
      {% endfor %}

      {% for page in site.pages %}
        {% for dc in site.data.datachallenges_yml %}
          {% if dc.region contains page.region %}


            <!-- Splitting the coordinates and extracting individual values -->
            {% assign coords1 = page.lon_min | plus: 179 %}
            {% assign coords2 = page.lat_min | times: -1 %}
            {% assign coords2 = coords2 | plus: 89 %}
            {% assign coords3 = page.lat_max | times: -1 %}
            {% assign coords3 = coords3 | plus: 89 %}
            {% assign coords4 = page.lon_max | plus: 179 %}

            {% assign x1 = coords1 | times: 0.002785 %}
            {% assign y1 = coords3 | times: 0.002785 %}
            {% assign x2 = coords4 | times: 0.002785 %}
            {% assign y2 = coords2 | times: 0.002785 %}

            {% assign x1 = x1 | times: width_img %}
            {% assign y1 = y1 | times: width_img %}
            {% assign x2 = x2 | times: width_img %}
            {% assign y2 = y2 | times: width_img %}

 
            <!-- Add a div for highlighting -->
            <div class="highlight-area" style="left: {{ x1 }}px; top: {{ y1 }}px; width: {{ x2 | minus: x1 }}px; height: {{ y2 | minus: y1 }}px;"></div>
          {% endif %}
        {% endfor %}
      {% endfor %}


    <img src="../images/DC_2023a_logo_rtd.png" title="Global Image" alt="image map example" width={{ width_img }} usemap="#map_example">
    </map>

  </div>
</center>


{% comment %}
<center>
<div id="image_map"> 
<map name="map_example"> 
{% for page in site.pages%}
  {% for dc in site.data.datachallenges_yml %}
   {% if dc.region contains page.region %}
     <a href={{ dc.url-readthedocs }}>{{ page.coords }}</a>

     <area href="{{ page.url }}" target="_blank" alt="{{ page.title }}" shape=poly coords="{{ page.coords1 }},{{ page.coords2 }}, {{ page.coords1 }},{{ page.coords3 }}, {{ page.coords4 }},{{ page.coords3 }}, {{ page.coords4 }},{{ page.coords2 }}"> 
   {% endif %}

  {% endfor %}
{% endfor %}

<img src="../images/dc_2023_ose_global_duacs_sla_map.png" title="Global Image" alt="image map example" width=1000 height=632 usemap="#map_example">
</map>
</div>
</center>
{% endcomment %}

</br>

<div style="margin: auto; width: 450px; padding: 30px;">
<hr>
<center>
<div class="font-size-h3 row t60"> <strong>Latest data challenges</strong>  </div>
</center>

</br>

<ul>
{% for datachallenge in site.data.datachallenges_yml %}
   {% if datachallenge.creationdate == 2024 or datachallenge.creationdate == 2023 %}
     {% if datachallenge.url-readthedocs == nil %}
       <li> <b> <a href={{ datachallenge.url }}>{{ datachallenge.title }}</a> </b></li>
     {% else %}
       <li> <b> <a href={{ datachallenge.url-readthedocs }}>{{ datachallenge.title }}</a> </b></li>
     {% endif %}
     </br> 
   {% endif %}
{% endfor %}
</ul>

</br>

<hr>


</div>

<div class="row t60">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
	
</div><!-- /.row -->



{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}



<hr>
<center>
<div class="font-size-h3 row t60"> <em><strong>If you are using one of the data challenges presented on this website, please cite the ODC group and the specific challenge that you have been using.</strong></em>  </div>
</center>

</br>


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
