---
layout: default
format: page-fullwidth
---

{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-12 columns">
		<article> 

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->

<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% for datachallenge in site.data.datachallenges_yml %}
   {% if datachallenge.region == page.region %}
     {% assign target_id = page.region %}
     {% assign datachallenge = site.data.datachallenges_yml | where: "id", target_id | first %}
     {% for dcwidget in site.data.dc_widgets %}
        {% if datachallenge.widgetname == dcwidget.title %} 
           {% include _frontpage-widget.html widget=dcwidget %}
        {% endif %}
     {% endfor %}
   {% endif %}
{% endfor %}

 <b> <a href={{ datachallenge.url-readthedocs }}>{{ dcwidget.title }}</a> </b></li>

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
 
{% if page.widget2023a.title %} 
<div class="font-size-h2 row t60"> 2023</div>

<div class="row t60">  
	{% if page.widget2023a.title %}
		{% include _frontpage-widget.html widget=page.widget2023a %}
	{% endif %}

	{% if page.widget2023b.title %}
		{% include _frontpage-widget.html widget=page.widget2023b %}
	{% endif %}

	{% if page.widget2023c.title %}
		{% include _frontpage-widget.html widget=page.widget2023c %}
	{% endif %}	
</div><!-- /.row -->
{% endif %}


{% if page.widget2022a.title %} 
<div class="font-size-h2 row t60"> 2022 </div>

<div class="row t60">  
	{% if page.widget2022a.title %}
		{% include _frontpage-widget.html widget=page.widget2022a %}
	{% endif %}


	{% if page.widget2022b.title %}
		{% include _frontpage-widget.html widget=page.widget2022b %}
	{% endif %}


	{% if page.widget2022c.title %}
		{% include _frontpage-widget.html widget=page.widget2022c %}
	{% endif %}
	
</div><!-- /.row -->
{% endif %}

{% comment %}
*
* Second check, if more than 3 widgets: add another line of widges
*
{% endcomment %}

{% if page.widget2021a.title %} 
<div class="font-size-h2 row t60"> 2021 (BOOST-SWOT, IGE)</div>

<div class="row t60">
	{% if page.widget2021a.title %}
		{% include _frontpage-widget.html widget=page.widget2021a %}
	{% endif %}

	{% if page.widget2021b.title %}
		{% include _frontpage-widget.html widget=page.widget2021b %}
	{% endif %}

	{% if page.widget2021c.title %}
		{% include _frontpage-widget.html widget=page.widget2021c %}
	{% endif %}	
</div><!-- /.row -->
{% endif %}

{% comment %}

*
* Third check, if more than 6 widgets: add another line of widges
*
{% endcomment %}

{% if page.widget2020a.title %} 
<div class="font-size-h2 row t60"> 2020 (BOOST-SWOT, IGE)</div>

<div class="row t60">
	{% if page.widget2020a.title %}
		{% include _frontpage-widget.html widget=page.widget2020a %}
	{% endif %}

	{% if page.widget2020b.title %}
		{% include _frontpage-widget.html widget=page.widget2020b %}
	{% endif %}

	{% if page.widget2020c.title %}
		{% include _frontpage-widget.html widget=page.widget2020c %}
	{% endif %}	
</div><!-- /.row -->
{% endif %}



{% comment %}
*
*  Check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}






{% comment %}
*
* Finally, if there is content, spit it out.
*
*<div class="row">
*    {{ content }}
*</div><!-- /.row -->
{% endcomment %}
